---
layout: home
title: National 311 Day
subtitle: The movement to connect people with their city
share-img: assets/img/311benefits.jpg
---

<iframe src="/assets/map.html" style="overflow:hidden; width: 100%; height: 400px"></iframe>
<div style="display: flex; justify-content: space-evenly">
    <span><img src="assets/marker-prev.svg" width="25px" style="fill: red"> 2023</span>
    <span><img src="assets/marker-this.svg" width="25px" style="fill: red"> 2024</span>
</div>

<p>
On March 11th, join a local blitz to report mobility issues to 311, your city's non-emergency line.
</p>

<p>
National 311 Day is a movement to help cities understand where they need to improve walking, biking, and rolling infrastructure.
Report broken sidewalks, missing curb cuts, cars parked in bike lanes, and more using your city's 311 line.
</p>

<p>
Are you hosting a 311 Day event? Let us know and we'll add it to our map! <a href="https://docs.google.com/forms/d/1QTIbvoSKYTjw1BzTguUUmqkuDJxff0fcmxYqatvvUVM/">fill out our form</a> to be added to the map.
</p>

<center>
  <p class="buttonrow">
    <a href="https://docs.google.com/forms/d/1QTIbvoSKYTjw1BzTguUUmqkuDJxff0fcmxYqatvvUVM/viewform"><button class="buttonlink">Add your event to the map</button></a>
  </p>
</center>

<center>
    <figure class="snip1533">
      <figcaption>
        <blockquote>
          <p>311 helps Pittsburgh's Department of Mobility and Infrastructure understand and address mobility issues throughout the city. I wholeheartedly support the National 311 Day effort to bring awareness to 311 systems in our city and across the nation.</p>
        </blockquote>
        <h3>Kim Lucas</h3>
        <h4>Director, Pittsburgh Director of Mobilty and Infrastructure</h4>
      </figcaption>
    </figure>
</center>

<div id="faqs">
    <h1>Frequently Asked Questions:</h1>
    {% for faq in site.faqs %}
        <button class="accordion">
            {{ faq.title }}
        </button>
        <div class="panel">
            {% for paragraph in faq.description %}
                <p>
                    {% if forloop.index0 == 0 %}<b> {% endif %}
                        {{ paragraph }}
                    {% if forloop.index0 == 0 %}</b> {% endif %}
                </p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
        
<h1>How to attend:</h1>
Find the event nearest you to see details on where to meet, and who to contact to let them know you'll be attending.


<script src="/assets/accordion.js"></script>
